body {
  background: #000 url(../images/DSC02505.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Pacifico', cursive;
}

/* ------ navigation ------ */
nav {
  margin: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.8);
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav img {
  height: 25px;
  position: relative;
  top: 5px;
}

nav > ul > li > a {
  color: #ccc;
  display: block;
  line-height: 2em;
  padding: 0.5em;
  text-decoration: none;
}

/* ------ main content ------ */
aside,
section {
  float: left;
}

aside {
  width: 25%;
  text-align: center;
  margin-top: 3%;
}

section {
  width: 60%;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 20px;
  padding: 2% 5%;
  margin: 3% 0 5% 0;
}

p img {
  max-width: 100%;
}

#logo {
  width: 80%;
  max-width: 500px;
}

@media (max-width: 767px) {
  #logo {
    width: 50%;
  }

  aside {
    width: 100%;
  }

  section {
    width: 70%;
    margin: 3% 10% 5% 10%;
  }
}
